.lang img {
  margin: 10px 10px 0 2px;
}
.photo {
  float: right;
}
.header .location span {
  margin-left: 5px;
}
.marker {
  margin-right: 5px;
}
.btn-primary {
  margin: 5px;
  cursor: auto;
  background-color: #000;
}
.btn-primary a {
  color: #fff;
}
.job .date, .project .date {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  margin: 0 7px;
  padding: .25em 0;
  color: #7a7a7a;
}
.job .location {
  font-size: small;
}
.job h3 a, .project h3 a {
  color: #000;
}
@media print {
  * {
    display: none;
  }
}
